{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/aboutUs.css') }}}">{% endblock %}

{% block body %}


    <!-- <div class="titre" style="margin-top: 10px;text-align: center;"><h1>{{ title }}</h1></div> -->

    <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Bonjour à tous ! Ici <span class="text-muted">Nelson</span></h2>
                <p class="lead">Je suis apprenti developpeur Full-Stack. Je pense que chacun de nous est particulier, que les goûts de tout un chacun sont uniques. Pour ma part il s'agit du développement web en Front on Back-end. J'aime laisser s'exprimer ce que je sais faire à travers les lignes de code que j'écrit. Ce document en est l'illustration typique. N'hésitez pas à me laisser un mot pour me donner votre avis. Toute critique est la bienvenue. </p>
                <div class="btn btn-primary btn-block" style="width: 100px; margin-bottom: 10px;">
                    <a href="{{ path('contact') }}" style="text-decoration: none; color: black;">Contact</a>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: auto; height: 500px;" src="{{ asset('images/nelson/20200226_135213.jpg') }}" data-holder-rendered="true">
            </div>
        </div>

    <hr class="featurette-divider">

        <div class="CV" style="margin: 20px auto; display: flex; justify-content: center; width: 300px; flex-direction: column;">
            <a href="{{ asset('to_download/CV_Nelson_ALIKOU.pdf') }}" download style="text-decoration: none; color: black;"><button class="btn btn-primary btn-block" onclick="sweetAlertSuccess2();compteur();">Télécharger mon CV</button></a>
            <!--<p>Nombre de Téléchargements  <b id='nbClicks'>0</b></p>-->
        </div>

    </div>



    <div class="centres_interet" style="display: none;">
        <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Cuisine <span class="text-muted">Toujours plus vite</span></h2>
                <p class="lead">Mon activité la plus pratiquée loin de l'ordinateur. Elle m'as enseigné la patience et la polyvalence. 😋</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{{ asset('images/divertissement/cuisine.jpg') }}" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Natation <span class="text-muted">Toujours plus loin</span></h2>
                <p class="lead">Un de mes sports favoris, je le pratique fréquement par pur plaisir.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{{ asset('images/divertissement/natation.jpg') }}" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Musculation <span class="text-muted">Toujours Plus</span></h2>
                <p class="lead">Ma principale activité de remise en forme. Elle m'as appris la persévérance, cette vertue qui nous nous posse à aller jusqu'au bout de ce que l'on entreprend. Surtout si c'est de faire 30 pompes diamants à la suite. 🤣</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{{ asset('images/divertissement/musculation.jpg') }}" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        </div>
    </div>

{% endblock %}