  {% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/competences.css') }}">{% endblock %}

{% block body %}
    <div class="titre"><h1>{{ title }}</h1></div>

    <hr class="featurette-divider">
    <div class="titre">
        <h3>Langages de programmation</h3>
    </div>
    <!--<div class="groupement"> -->
        <div class="slider">
            <div class="slides6">
                <div class="slide"><img src="{{ asset('images/competences/langages_programmation/php_144.png') }}" alt="php"  > </div>
                <div class="slide"><img src="{{ asset('images/competences/langages_programmation/javascript_144.png') }}" alt="javaScript"  ></div>
                <div class="slide"><img src="{{ asset('images/competences/langages_programmation/html_5_144.png') }}" alt="html"  ></div>
                <div class="slide"><img src="{{ asset('images/competences/langages_programmation/css3.png') }}" alt="css"  ></div>
                <div class="slide"><img src="{{ asset('images/competences/langages_programmation/python.png') }}" alt="python"  ></div>
                <div class="slide"><img src="{{ asset('images/competences/langages_programmation/c_plus_plus.png') }}" alt="c++" ></div>
            </div>
        </div>
        <!--
        <div class="slider">
            <div class="slides6">
                <div class="slide">
                    <div class="description">
                        <h2>PHP</h2>
                        <p>PHP (Hypertext Preprocessor) est un sous-ensemble de langages de script comme JavaScript et Python. La différence est que PHP est principalement utilisé pour la communication côté serveur, tandis que JavaScript peut être utilisé à la fois pour le frontend et le backend et Python – pour le côté client uniquement (backend).</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="description">
                        <h2>JavaScript</h2>
                        <p>PHP (Hypertext Preprocessor) est un sous-ensemble de langages de script comme JavaScript et Python. La différence est que PHP est principalement utilisé pour la communication côté serveur, tandis que JavaScript peut être utilisé à la fois pour le frontend et le backend et Python – pour le côté client uniquement (backend).</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="description">
                        <h2>HTML</h2>
                        <p>PHP (Hypertext Preprocessor) est un sous-ensemble de langages de script comme JavaScript et Python. La différence est que PHP est principalement utilisé pour la communication côté serveur, tandis que JavaScript peut être utilisé à la fois pour le frontend et le backend et Python – pour le côté client uniquement (backend).</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="description">
                        <h2>CSS</h2>
                        <p>PHP (Hypertext Preprocessor) est un sous-ensemble de langages de script comme JavaScript et Python. La différence est que PHP est principalement utilisé pour la communication côté serveur, tandis que JavaScript peut être utilisé à la fois pour le frontend et le backend et Python – pour le côté client uniquement (backend).</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="description">
                        <h2>Python</h2>
                        <p>PHP (Hypertext Preprocessor) est un sous-ensemble de langages de script comme JavaScript et Python. La différence est que PHP est principalement utilisé pour la communication côté serveur, tandis que JavaScript peut être utilisé à la fois pour le frontend et le backend et Python – pour le côté client uniquement (backend).</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="description">
                        <h2>C++</h2>
                        <p>PHP (Hypertext Preprocessor) est un sous-ensemble de langages de script comme JavaScript et Python. La différence est que PHP est principalement utilisé pour la communication côté serveur, tandis que JavaScript peut être utilisé à la fois pour le frontend et le backend et Python – pour le côté client uniquement (backend).</p>
                    </div>
                </div>
            </div>
        </div>-->
    <!--</div> -->

    <hr class="featurette-divider">
    <div class="titre">
        <h3>Frameworks</h3>
    </div>
    <div class="slider">
        <div class="slides2">
            <div class="slide"><a href="https://symfony.com/"> <img src="{{ asset('images/competences/frameworks/symfony_144.png') }}" alt="symfony"> </a></div>
            <div class="slide"><img src="{{ asset('images/competences/frameworks/react_native_144.png') }}" alt="react native"  ></div>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="titre">
        <h3>Systèmes d'exploitation</h3>
    </div>
     <div class="slider">
        <div class="slides2">
            <div class="slide"><a href="https://fr.wikipedia.org/wiki/Windows_10"> <img src="{{ asset('images/competences/systemes_exploitation/windows10.png') }}" alt="symfony"> </a></div>
            <div class="slide"><img src="{{ asset('images/competences/systemes_exploitation/linux.png') }}" alt="react native"  ></div>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="titre">
        <h3>Réseaux informatiques</h3>
    </div>
     <div class="slider">
        <div class="slides">
            <div class="slide"><img src="{{ asset('images/competences/reseau_informatique/cisco_512.png') }}" alt="cisco"  ></div>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="titre">
        <h3>Interface Homme-Machine (IHM)</h3>
    </div>
    <div class="slider">
        <div class="slides2">
            <div class="slide"><a href="#"> <img src="{{ asset('images/competences/ihm/figma.png') }}" alt="symfony"> </a></div>
            <div class="slide"><a href="#"> <img src="{{ asset('images/competences/ihm/qtcreator.png') }}" alt="react native"  > </a></div>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="titre">
        <h3>Bureautique</h3>
    </div>
    <div class="slider">
        <div class="slides6">
            <div class="slide"><img src="{{ asset('images/competences/bureautique/microsoft_word_2019.png') }}" alt="microsoft_word_2019"  > </div>
            <div class="slide"><img src="{{ asset('images/competences/bureautique/microsoft_excel_2019.png') }}" alt="microsoft_excel_2019"  ></div>
            <div class="slide"><img src="{{ asset('images/competences/bureautique/microsoft_access_2019.png') }}" alt="microsoft_access_2019"  ></div>
            <div class="slide"><img src="{{ asset('images/competences/bureautique/microsoft_powerpoint_2019.png') }}" alt="microsoft_powerpoint_2019"  ></div>
            <div class="slide"><img src="{{ asset('images/competences/bureautique/microsoft_publisher_2019.png') }}" alt="microsoft_publisher_2019"  ></div>
            <div class="slide"><img src="{{ asset('images/competences/bureautique/microsoft_outlook_2019.png') }}" alt="microsoft_outlook_2019" ></div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="CV" style="margin: 20px auto; display: flex; justify-content: center; width: 300px; flex-direction: column;">
        <button class="btn btn-primary btn-block" onclick="sweetAlertSuccess2();compteur();"><a href="{{ asset('to_download/CV_Stage_Nelson_ALIKOU.pdf') }}" download style="text-decoration: none; color: black;">Télécharger mon CV</a></button>
        <!--<p>Nombre de Téléchargements  <b id='nbClicks'>0</b></p>-->
    </div>

{% endblock %}


