{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/formation.css') }}">{% endblock %}

{% block body %}
<div class="titre"><h1>{{ title }}</h1></div>

<div class="container marketing">

 <!-- Three columns of text below the carousel -->
 <div class="row">
  <div class="col-lg-4">
   <img class="rounded-circle" src="{{ asset('images/formation/iut_reims.jpg') }}" alt="IUT Reims" width="140" height="140">
   <h2>DIPLOME UNIVERSITAIRE TECHNOLOGIQUE INFORMATIQUE</h2>
   <p>Le DUT est une formation professionnalisée en deux ans accessible après le baccalauréat ou équivalent. Je l'obtiendrai en juillet 2021. Il me sera délivré par l'IUT de Reims.</p>
   <p><a class="btn btn-secondary" href="#" role="button">Voir extrait »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
   <img class="rounded-circle" src="{{ asset('images/formation/cjm.jpg') }}" alt="College Jesus Marie" width="140" height="140">
   <h2>BACCALAUREAT SCIENTIFIQUE</h2>
   <p>Diplome de fin d'études Secondaires. Obtenu en juillet 2019, avec mention.</p>
   <p><a class="btn btn-secondary" href="#" role="button">Voir extrait »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
   <img class="rounded-circle" src="{{ asset('images/formation/logo_pix.jpg') }}" alt="PIX" width="140" height="140">
   <h2>CERTIFICATION PIX</h2>
   <p>Service en ligne d'évaluation et de certification des compétences numériques pour tous, tout au long de la vie. Certification obtenue en Janvier.</p>
   <p><a class="btn btn-secondary" href="#" role="button">Voir extrait »</a></p>
  </div><!-- /.col-lg-4 -->
 </div><!-- /.row -->

</div>
 {% endblock %}



