{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}

    {{ form_start(commentForm) }}

    <div class="container contact-form">
        <h1>Me laisser un petit mot</h1>
        <hr>

        <div class="row">

            <div class="col-md-6">
                <address>IUT de Reims</address>
                <p>Email - nelsonalikou@gmail.com</p>
                <p>Téléphone - 0749380576</p>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    {{ form_row(commentForm.name) }}
                </div>

                <div class="form-group">
                    {{ form_row(commentForm.email) }}
                </div>

                <div class="form-group">
                    {{ form_row(commentForm.content) }}
                </div>

                <div class="form-group">
                    {{ form_row(commentForm.envoyer) }}
                </div>

            </div>

        </div>

    </div>

    {{ form_end(commentForm) }}

{% endblock %}

